body {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

.pb7 {
  padding-bottom: 0;
}

main {
  flex-grow: 1;
}

#svg-container {
  flex-grow: 1;
  overflow: hidden;
}

#svg-container svg {
  width: 100%;
  height: 100%;
}

/* Force a fill on nodes so that mouse interactions work in the empty background space of nodes */
g.node ellipse {
  fill: #ffffff;
  transition: all 0.25s ease-out;
}

/* Hover interaction on nodes */
g.node:hover ellipse {
  stroke: blue;
  stroke-width: 2;
}
g.node:hover > * {
  cursor: pointer;
}

/* Scripture references container */
#refs-wrapper {
  border-top: 1px solid #ccc;
  padding: 1em;
  background-color: #fafafa;
}

#refs-container {
  margin: auto;
  max-width: 600px;
}

#refs-container > * {
  margin: 0;
}

#refs-content {
  margin-top: 1em;
}