{{ define "main" }}
  {{ $stylesheet := resources.Get "css/svg.css" | fingerprint }}
  <link href="{{ relURL $stylesheet.Permalink }}" rel="stylesheet">
  <div id="svg-container">
    {{ readFile (printf "svg/%s.svg" .Params.name) | safeHTML }}
  </div>
  <div id="refs-wrapper">
    <div id="refs-container">
      <span class="fw6"><span id="refs-title">Scripture References</span>:</span>
      <span id="refs-content">Click on a sign to see the scripture references that support it. Or review the 
        <a href="/references/">complete list</a> of scripture references and signs.
      </span>
    </div>
  </div>
{{ end }}
{{ define "footer" }}
  <script src="https://unpkg.com/svg-pan-zoom@3.6.0/dist/svg-pan-zoom.min.js"></script>
  <script src="https://unpkg.com/hammerjs@2.0.8/hammer.min.js"></script>
  {{ $refs := resources.Get (printf "graphs/%sRefs.json" .Params.name) | fingerprint }}
  <script>
    const graphName = '{{ .Params.name }}';
    const refsUrl = '{{ $refs.Permalink | relURL }}';
  </script>
  {{ $js := resources.Get "js/scripture-links.js" | fingerprint }}
  <script type="text/javascript" src="{{ $js.Permalink | relURL }}"></script>
  {{ $js := resources.Get "js/svg.js" | fingerprint }}
  <script type="text/javascript" src="{{ $js.Permalink | relURL }}"></script>
{{ end }}